.activity-card{
    border-radius:20px;
}

.activity-card:hover{
    transform:translateY(-5px);
    transition:.3s;
}

.badge{
    border-radius:20px;
}

.card{
    border-radius:20px;
}

.card:hover{
    box-shadow:0 15px 35px rgba(0,0,0,.12)!important;
}