.card{
    border-radius:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(0,0,0,.12)!important;
}

.btn{
    border-radius:30px;
}

.badge{
    border-radius:20px;
}