.brand-logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.brand-image{
    width:55px;
    height:55px;
    object-fit:contain;
}

.brand-text h4{
    margin:0;
    color:#0F4C81;
    font-weight:700;
    font-size:1.3rem;
}

.brand-text span{
    display:block;
    color:#666;
    font-size:.8rem;
}