.card{
    border-radius:20px;
}

.card:hover{
    transform:translateY(-5px);
    transition:.3s;
}

.form-control{
    border-radius:12px;
}

.btn{
    border-radius:30px;
}

img{
    object-fit:cover;
}