.topbar{
    background:#0b2f52;
    color:white;
    min-height:42px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 35px;
    font-size:.9rem;
    flex-wrap:wrap;
}

.topbar-left,
.topbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.top-link{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.top-link:hover{
    color:#FFC107;
}

.divider{
    color:#cfcfcf;
}

.welcome-user{
    display:flex;
    align-items:center;
    font-weight:600;
}

@media(max-width:992px){

    .topbar{
        justify-content:center;
        text-align:center;
        gap:10px;
    }

    .topbar-left,
    .topbar-right{
        flex-wrap:wrap;
        justify-content:center;
    }

}